body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.game-board {
  width: 100px;
  height: 110px;
  background-color: #c9c9c9;
  margin:0 50px 0 50px;
}

.player {

}

.board-row {
  display: flex;
}

.board-cell {
  width: 30px;
  height: 30px;
  margin: 3px;
  background-color: #c90000;
}

.cell-text {
  margin-top: 7px;
}

.player-info-container {
  width: 255px;
  margin: auto;
  margin-bottom: 20px;
}

.player-field {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}

.field-margin {
  margin-left: 10px;
  margin-right: 10px;
}